.empty-row {
    padding: 4px 0;
    text-align: center;
}

.add-note-form {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.add-note-form textarea {
    flex-grow: 1;
}

.table textarea {
    width: 100%;
}

.danger {
    color: #c90c0c;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .01px;
}

@media (prefers-color-scheme: dark) {
    .danger {
        color: #ff4d4d;
    }
}