.empty-row {
    padding: 4px 0;
    text-align: center;
}

.add-keyword-form {
    margin-top: 12px;
    display: flex;
    gap: 8px;
}

.add-keyword-form input[type=text] {
    flex-grow: 1;
}
